DefaultContentLanguage = "fr"
baseURL = "https://devmath.fr"
title = "DevMath.fr"
paginate = 3
description = "DevMath est un site d'informatique et de matématiques crée par un étudiant pour les étudiants."
pygmentsUseClasses = true
theme = "amperage"
targetPath = "themes/amperage/assets"
staticDir = ["static","themes/amperage/assets"]
contentDir = "content"

[languages.fr]
    languageCode = "fr"
    languageName = "Français"
    weight = 1

[markup]
    [markup.goldmark.renderer]
        unsafe = true
    [markup.tableOfContents]
        startLevel = 2
        endLevel = 5
    [markup.highlight]
        style = "fruity"

[outputFormats.SearchIndex]
    baseName = "search"
    isPlainText = true
    mediaType = "application/json"
    notAlternative = true

[outputs]
    home = ["HTML", "RSS", "SearchIndex"]

[params]
    title = "DevMath"
    alternatePageName = "DevMath.fr"
    copyright = "DevMath.fr"
    ampElements = ["amp-iframe", "amp-analytics", "amp-social-share", "amp-install-serviceworker", "amp-mathml","amp-autocomplete"]
    organizationLogo = "/icons/logo.svg"
    organizationName = "DevMath"
    publisherLogo = "/icons/logo.svg"
    publisherLogoHeight = 60
    publisherLogoWidth = 600
    publisherName = "amperage"
    socialProfiles = ["https://fr.linkedin.com/in/robinpourtaud", "https://github.com/RobinPourtaud/"]
    themeColor = "#333"
    [params.author]
        name = "Robin Pourtaud"
        homepage = "cv.devmath.fr"
        image = "images/pdp.jpg"
        bio = "Etudiant en informatique, je suis l'administrateur et rédacteur du site DevMath.fr. Si vous avez une question, n'hésitez pas à me contacter !"

[taxonomies]
    tag = "tags"
    category = "categories"

[permalinks]
    posts = ":sections/:title"

[[menu.main]]
    identifier = "math"
    name = "Catégories"
    url = "categories/" 
    weight = 8
[[menu.main]]
    identifier = "author"
    name = "Tags"
    url = "/tags"
    weight = 9




    
