DefaultContentLanguage = "fr"
baseURL = "https://devmath.fr"
paginate = 3
pygmentsUseClasses = true
theme = "amperage"
[languages.fr]
contentDir = "content"
description = "DevMath est un site d'informatique et de matématiques crée par un étudiant pour les étudiants."
languageCode = "fr"
languageName = "Français"
title = "DevMath.fr"
weight = 1
[markup.goldmark.renderer]
unsafe = true
[outputFormats.SearchIndex]
baseName = "search"
isPlainText = true
mediaType = "application/json"
notAlternative = true
[outputs]
home = ["HTML", "RSS", "SearchIndex"]
[params]
alternatePageName = "DevMath.fr"
ampElements = ["amp-iframe", "amp-analytics", "amp-social-share", "amp-install-serviceworker", "amp-mathml"]
copyright = "DevMath.fr"
organizationLogo = "/logo.png"
organizationName = "DevMath"
publisherLogo = "/logo-amp-article.png"
publisherLogoHeight = 60
publisherLogoWidth = 600
publisherName = "amperage"
socialProfiles = ["https://fr.linkedin.com/in/robinpourtaud", "https://github.com/RobinPourtaud/"]
themeColor = "#333"
[taxonomies]
tag = "tags"
