{{ with .Site.Params.Author }}
    <section class="author">
        {{ with .image }}
            <amp-img class="author__image"
                src="{{ . | absURL}}"
                layout="fixed" height="200" width="200"></amp-img>
        {{ end }}
        <div class="author__right">
            {{ with .name }}
                <p class="author__right__name">{{ . }}</p>
            {{ end }}
            {{ with .bio }}
                <p class="author__right__bio">{{ . }}</p>
            {{ end }}
        </div>
        
    </section>
{{ end }}