{{ $first :=replaceRE "\\$\\$(.*?)\\$\\$" "<amp-img class=\"inline-formula\" alt=\"$1\" src=\"/latex-svg/$1.svg\" layout=\"fixed-height\" height=\"20\"></amp-img>"  .Content }}
{{ $second :=replaceRE "\\$(.*?)\\$" "<amp-img src=\"/latex-svg/$1.svg\" height=\"20\" layout=\"fixed-height\" alt=\"$1\" class=\"inline-formula\" ><img decoding=\"async\" alt=\"$1\" src=\"/latex-svg/$1.svg\" height=\"20\" class=\"i-amphtml-fill-content i-amphtml-replaced-content\"></amp-img>" $first }}
{{ $third :=replaceRE "\\\\" "" $second}}



{{ $foo := $third }}
{{ $regexp := "/latex-svg/(.*?)\\.svg" }}
{{ $matches := findRE $regexp $foo }}
{{ range $matches }}
{{ $m := md5 .}}
{{ $t := print "/latex-svg/" $m ".svg"}}
   {{ $foo = replace $foo . $t }}
{{ end }}
{{ $foo | safeHTML }}
