<a class="summary" href="{{.Permalink}}">
    <div class="summary__top">
        {{ if (isset .Params "image" ) }}
        {{ with .Params.image.src }}
            {{- partial "blocks/image.html" (dict "src" . "alt" $.Title "class" "summary__top__image") -}}
        {{end}}
        {{ else }}
        {{ $default := "/images/default.jpg" }}
        {{- partial "blocks/image.html" (dict "src" $default "alt" $.Title "class" "summary__top__image") -}}
        <div class="summary__top__title">{{.Title}}</div>
        {{ end }}
            
    </div>
    
    <div class="summary__bottom">
        <div class="summary__image__title">{{.Params.Category}}</div>
        <div class="summary__image__title">{{.Title}}</div>
        <div class="summary__bottom__desc">
            {{.Description}}
        </div>
    </div>
    
    
</div>
</a> 