<a class="summary" href="{{.Permalink}}">
    <div class="summary__top">
        
            {{ with .Params.image.src }}
            {{- partial "blocks/image.html" (dict "src" . "alt" $.Title "class" "summary__image") -}}
            {{ end }}
    </div>
    
    <div class="summary__bottom">
        <div class="summary__image__title">{{.Params.Category}}</div>
        <div class="summary__image__title">{{.Title}}</div>
        <div class="summary__bottom__desc">
            {{.Description}}
        </div>
    </div>
    
    
</div>
</a> 