<section class="under-title">
    <div class="under-title__info">
        
        {{ with .Page.Params.Author.name }} {{ i18n "by" }} {{ . }} {{ end }}
        {{ $taxonomy := "tags" }}
        <ul id="{{ $taxonomy }}">
            {{ range .Page.Param $taxonomy }}
                {{ $name := . }}
                {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy ($name | urlize)) }}
                    <li><a href="{{ .Permalink }}" data-rel="prefetch">{{ $name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</section>