@media (max-width: 1300px){
	aside{
		display:none!important;
	}
	article{
		width: 100%!important;
		
	}
	.main{
		padding:0px!important;
	}
	h1{
		font-size:32px!important;
		
	}
	.toc__title, h2{
		
		font-size:25px!important;
	}
	.author{
		padding:0px!important;
		margin:0px!important;
		text-align:center;
	}
}
body {
	position: absolute;
	display: block;
	font-size: 1.2em;
	font-family: "Poppins",sans-serif;
	line-height: 1.6;
	color: black;
	background-color:#fafafa;
}

amp-next-page {
	grid-column: span 12;
}

.header {
	position: fixed;
	z-index:99;
	width: 100%;
	height: 70px;
	padding: 10px 20% 10px 20%;
	top: 0px;
	background-color:#273444;
	
	
	&__title {
		float:left;
		margin: 0;
		
		padding: 0;
		align-items: center;
		overflow: auto;
		justify-content: space-between;
		&__text {
			color:white;
			font-weight:bolder;
			letter-spacing: 1px;
			margin-left: 40px;
			font-size: 1.3em;
			white-space: nowrap;
			&:hover {
				color: $main-color;
				transition:1s ease-in-out;
			}
		}
		&__logo {
			float:left;
			display:block;
			margin-left: auto;
  			margin-right: auto;
    		font-family: "icomoon";
    		font-size: 23px;
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
	&__search {
		position:relative;
		float:right;
		font-family: "Poppins",sans-serif;
		color: black;
		display:block;
		max-width:300px;
		width:100%;
		
		
		& :hover{
			background-color:white;
		}
		&__input {
			padding: .5em 1em;
			font-family: "Poppins",sans-serif;
			font-size: 1.2em;
			width: 100%;
			height:100%;
			border-radius: 0;
			border: 0px solid black;
			border-top: none;
			background-color:transparent;
			&:focus {
				outline: none;
			}
			overflow:hidden;
		}
		.search-item {
			&__link {
				border-bottom: none;
			}
		}
	}
	
}


.main {
	
	line-height: 1.7;
	width:100%;
	margin-top: 80px;
	padding:20px 100px 0px 100px;
	position:relative;
	.pagination {
		margin: 3em auto 2em auto;
		display: flex;
		justify-content: space-between;
	}
}

  
.footer {
	position:relative;
	bottom: 0px;
  	width: 100%;
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	  
	margin-bottom:0px;
	text-align:center;
	font-size:15px;
	padding:3px;
	float:right;
	&__copyright{
		color:white;
	}
	&__list{
		
		&__link{
			display:inline;
			margin:4px;
			& a{
				color:white;
			}
			
		}
	}
}
.more{
	
	&__list{
		list-style:none;
		text-align:center;
		& li{
			background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

			border-radius:4px;
			margin: 20px;
			padding: 10px;
			width: 160px;
			display:inline-block;
			font-weight: bolder;
			text-transform: capitalize;
		}
		& a{
			color:white!important;
		}
	}
}
h1 {
	font-size: 48px;
    line-height: 58px;
    color: #333;
    margin: 0;
	font-weight: bold;
}
h2 {
	text-align: center;
	background: linear-gradient(to right,#f2709c,#ff9472);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    margin-top: 40px;
	border-top: solid 2px #e8e8e8;
}
h3 {
	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%,rgba(85,88,218,1) 0%,rgba(95,209,249,1) 100.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
    margin-bottom: 20px;
}
h4 {
	font-size: 1.5rem;
}

a {
	color: #1e3888;
	text-decoration:none;
	transition: background 0.3s;
	&:hover {
		border-color: $main-color;
	}
}

.button {
	padding: .5em .75em;
	font-size: 1.2em;
	text-align: center;
	border: 0px;
}

li {
	margin-top: 0.25em;
}

pre {
	font-family: "Poppins",sans-serif;
	font-size: 12pt;
	display: block;
    overflow-x: auto;
    padding: 25px;
    background: radial-gradient(circle 993px at .5% 50.5%,rgba(137,171,245,.37) 0%,rgba(245,247,252,1) 100.2%);
    color: #000;
    font-weight: 500;
    border-radius: 4px;
}

blockquote {
	margin: inherit auto;
	margin-left: 1em;
	padding: 1em;
	border-left: 5px solid #999;
	&:before {
		display: none;
	}
	&:not(:first-of-type) {
		margin-top: .5em;
	}
	p {
		color: #555;
		font-size: 1.25em;
		font-family: "Poppins",sans-serif;
	}
}

article .figure {
	flex-direction: column-reverse;
	max-width:50%;
	text-align:center;
	cursor:pointer;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 30px;
	&--with-caption {
		display: flex;
		border-top: none;
	}
	&__image {
		&--with-caption {
			min-width: 70%;
		}
	}
	&__caption {
		background-color: #333;
		color: white;
		font-weight: 700;
		padding: .5em 1em;
		height: min-content;
		word-wrap: break-word;
		position: relative;
		max-width: 100%; 
	}
}
.post-it {
	width: 100%;
	padding: 1.5em;
	&--tip {
		background-color: lemonchiffon;
	}
	&--info {
		background-color: azure;
	}
	&--danger {
		background-color: #ffcccb;
	}
	&--success {
		background-color: #d0f0c0;
	}
	&__title {
		font-weight: 700;
		font-size: 1.5em;
	}
	&__content {
		margin-top: 1em;
	}
}

.product {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
	border: 1px solid #333;
	&__image {
		margin: auto;
		width: 100%;
		min-width: 250px;
		max-width: 400px;
	}
	&__content {
		margin-left: 2em;
		align-self: center;
		display:flex;
		flex-direction: column;
	}
	&__title {
		font-weight: 700;
		font-size: 1.5rem;
	}
	&__description {
		margin-top: 1em;
	}
	&__cta {
		margin-top: 1em;
	}
}

.social-share {
	display: flex;
	align-self: center;
	align-items: center;
	&__button {
		margin: 10px .3em;
		border-radius: 50%;
		background-size: 60%;
	}
}

#tags {
	margin: 0;
	padding: 0;
	li {
		display: inline;
	}
}
.aside{
	float: left;
	position: relative;
	display:block;
	width: 25%;
	background-color:#fafafa;
	&__title{
		font-size: 21px;
		font-weight:bolder;
		margin-top: 30px;
	}
}
.description{
	text-align:center;
	font-weight:lighter;
	font-style:italic;
	margin-top:30px;
}
.content {
	background-color:#ffff;
	display:block;
	padding: 40px;
	border-radius:10px;
	width:900px;
	margin-bottom: 20px;
	float:right;
	position: relative;
	
	
	table {
		display: block;
		overflow-x: auto;
		border-collapse: collapse;
		td, th {
			border: 1px solid #ddd;
		}
		td {
			padding: .5em 1em;
		}
		th {
			padding: 1em 2em;
			background-color: #333;
			color: white;
		}
		tr:nth-child(even) {
			background-color: #F1F1F1;
		}
		tr:hover {
			background-color: #ddd;
		}
	}
	.highlight {
		.chroma {
			background-color: #F1F1F1;
		}
	}
	.under-title {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 1rem;
		&__info,
		&__social-share {
			align-self: center;
		}
	}
	.ad {
		display: flex;
		margin: 1rem auto;
		align-content: center;
		width: min-content;
		height: min-content;
		min-width: 320px;
		min-height: 320px;
		border: 1px solid #333;
		&__fallback {
			display: flex;
			align-items: center;
			p {
				margin:auto;
			}
		}
	}
	.author {
		border-radius: 10px;
		background-color: #f9f9f9;
		padding: 20px 60px 20px 60px;
		margin:40px;
		& > *:not(:first-child) {
			margin-top: 1rem;
		}
		&__image {
			border-radius: 100px;
			width:70px!important;
			height:70px!important;
		}
		&__right{
			margin:0px!important;
			float:right;
			width: 80%;
			&__name {
				font-weight: 700;
				font-size: 20px;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-image: linear-gradient(135deg,#8bc6ec 0%,#9599e2 100%);
			}
			&__bio {
				font-size:12px;
			}
		}
		
		
	}
}

.summary {
	width: 333.3px;
	height: 333px;
	overflow: hidden;
	margin : 15px;
	display: inline-block; 
	&__top{
		&__title{
			position:absolute;
			z-index:2;
			color:white;
			font-weight:bolder;
			width:333.3px;
			padding: 20px 15px 10px 80px;
			text-align:right;
			vertical-align: center;
			line-height:25px;
		}
		&__image{
			border-radius: 6px;
			display:block;
			width: 100%;
			height: 181.9px;
			padding:20px;
			margin-bottom: 10px;
		}
		&__tags{
			position: absolute;
			color:white;
			z-index: 2;
			width:333.3px;
			padding: 120px 15px 10px 80px;
			text-align:right;
			font-size:15px; 
			line-height:15px;
		}
	}
	
	&__bottom{
		&__title{
			color:black;
			font-size:15px;
			font-weight: bolder;
			z-index: 10;
		}
		&__desc{
			font-size:13px;
			color:black;
			text-overflow:ellipsis;
		}
	}
	
	

	&__list {
		max-width: 1100px;
		width:100%;
		position:relative;
		display:inline-flex;
	}

}
.list__summary {
    text-align: center;
}

@media (max-width: 320px) {
	.p{
		font-size:20px;
	}
	
	.under-title__social-share {
		width: 100%;
		margin-top: 1.5em;
		justify-content: space-between;
	}
	
	.product {
		flex-wrap: wrap;
		&__content {
			margin-left: unset;
			text-align: center;
		}
		&__title {
			margin-top: 1em;
		}
	}
}
.toc{
	margin-top: 40px;
	margin-bottom: 40px;
    background-color: rgba(0,0,0,.02);
    padding: 30px;
	&__title{
		font-size:30px;
		background-image: radial-gradient(circle 767px at 10.2% 22.1%,rgba(11,218,81,1) 0%,rgba(0,191,255,1) 90%);
    	-webkit-background-clip: text;
		font-weight: bold;
    	-webkit-text-fill-color: transparent;
	}
	ul{
		list-style:decimal;
	}
}

.formula {
overflow:visible!important;
margin:20px;
& img{
	width:auto;
	height: auto; 
    max-height: 1000px; 
    max-width: 1000px; 
    min-height: auto; 
    min-width: auto; 
	margin:auto;
}}